<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
<div class="w-100>
    <footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <section>
        <a class="btn btn-floating m-1" href="#!" role="button"
          ><img src="/images/pkm.png"><i class="fab fa-facebook-f"></i
        ></a>
      </section>
    </div>
    <div class="text-center p-3">
      © 2023 Copyright:
      <a class="text-white" href="https://pokeapi.co/">PokéApi</a>
    </div>
  </footer>
    
  </div>
</html>