<nav id="navbar" class="navbar nav-fixed-top nav-justified navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="logo navbar-brand mb-0 h1">
        <img class="logo" src="/images/pokeball.png" width="5%" height="5%">
        Pokedex
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
    </div>
  </nav>