<nav id="navbar" class="navbar nav-fixed-top nav-justified navbar-expand-lg navbar-expand-md navbar-expand-sm">
    <div class="container-fluid" style="width: 100px; position: absolute;">
      <a class="logo navbar-brand mb-0 h1">
        <img class="logo" src="/images/pkm.png">
        Pokedex
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>

    </div>
    <div class="container justify-content-center  h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search your Pokemon">
          <a href="#" class="search_icon"><img src="/images/pkm.png"></i></a>
        </div>
      </div>
    </div>
  </nav>