<%- include('partials/header') %>
<%- include('partials/navbar') %>
<style>
    body{
        background-color: #011627;
    color: white;
}
</style>
<div class="container-fluid banner">
		<div class="row">
			<div class="col-md-8 offset-md-2 info">
				<h1 class="text-center"><%= em %></h1>
				<p class="text-center">
                    We're really sorry for the inconvenience :&#40 <br> go back and
				</p>
				<form class="text-center" action="/search/" method="get">
					<button type="submit" class="btn ctoa" name="name" value=1>TRY AGAIN</button>
				</form>
			</div>
		</div>
	</div>
<%- include('partials/footer') %>