:root {
    --main: #0A369D;
    --secondary: #4472CA;
    --details: #5E7CE2;
    --details-light: #92B4F4;
    --bg: #000;
}
body{
    font-family: 'Urbanist', sans-serif;
}
nav.st {
    padding: 10px 10px 10px 20px;
}

div.container_principal{
    background-color: #FDFFFC;
    color: #011627;
}


img.pokeImg{
    aspect-ratio: 1/1;
    height: 100%;
}