@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root {
    --main: #011627;
    --secondary: #2ec4b6;
    --details: #e71d36;
    --details-light: #FF9F1C;
    --bg: #fdfffc;
}
body{
    font-family: 'VT323', sans-serif ;
    background-color: var(--bg);
    
}
nav.st {
    padding: 10px 10px 10px 20px;
}
nav{
    background-color: #FFF8E7;
    position: sticky;
    border-style: solid;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-color: var(--details);
    border-width: 5px;
}

div.container_principal{
    background-color: #FDFFFC;
    color: #011627;
}


img.pokeImg{
    aspect-ratio: 1/1;
    height: 50%;
}

.searchbar{
    display: flex;
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: var(--main);
    border-radius: 30px;
    padding: 10px;
    align-items: center;
    }

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background-color:var(--main);
    width: 0px;
    max-width: 300px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 200px;
    caret-color:red;
    transition: width 0.4s linear;
    }

.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#353b48;;
    text-decoration:none;
    }


#dd{
    font-family: 'VT323', sans-serif ;
    max-width: 700px ;
    background-color: var(--main);
    color: var(--bg);
    
}
#ds{
    max-width: 700px ;
    background-color: var(--main);
    color: var(--bg);
    
}
#dm{
    background-color: var(--main);
    color: var(--bg);
}
#HW{
    max-width: 700px ;
    background-color: var(--main);
    color: var(--bg);
}
#bs{
    border-radius: 30px;
    background-color: var(--main);
    border-style: hidden;
}
#pi{
    max-width: 700px;
    max-height: 700px;
}
.banner .info{
	margin-top:15%;
	transform: translateY(-15%);
}
.banner .info h1{
	font-size: 5em;
	font-weight: 500;
	letter-spacing: 2px;
}
.banner .info p{
	font-size: 2em;
	font-weight: 500;
	letter-spacing: 2px;
}
.banner .info a{
	margin-left:50%;
	transform: translateX(-50%);
	color: #fff;
	background: var(--details);
	padding:10px 20px; 
	font-size: 2em;
	font-weight: 600;
}
.banner .info a:hover{
	background: var(--secondary);
}