:root {
    --main: #011627;
    --secondary: #2ec4b6;
    --details: #e71d36;
    --details-light: #FF9F1C;
    --bg: #fdfffc;
}
body{
    font-family: 'Urbanist', sans-serif;
}
nav.st {
    padding: 10px 10px 10px 20px;
}
nav{
    background-color: var(--secondary);
    position: sticky;
}

div.container_principal{
    background-color: #FDFFFC;
    color: #011627;
}


img.pokeImg{
    aspect-ratio: 1/1;
    width: 100%;
}

body{
    background-color: var(--bg);
}
.searchbar{
    display: flex;
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
    }

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }